---
version: "3.3"
services:
{% for item in containers %}
  {{ item.container }}:
{% if item.image is defined %}
    image: {{ item.image }}
{% endif %}
{% if item.ports is defined %}
    ports:
      - {{ item.ports }}
{% endif %}
{% if item.volumes is defined %}
    volumes: 
      - {{ item.volumes }}
{% endif %}
{% endfor %}
